body{
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
}

.top{
    margin: 0px;
}

header{
    padding-top: 5px;
    margin: 0px;
}

.barra-main{
    background-color: #fff83b;
    padding: 10px;
}

.barra-nav{
    display: flex;
    margin: 0px;
}

.barra-nav-elementos{
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    list-style-type: none;
}

.barra-nav-elementos.bridge{
    padding-left: 55%;
}

.logo{
    width: 1pw;
}

li > a{
    text-decoration: none;
}

.bot{
    padding: 3%;
}

footer{
    display: flex;
}

.v-line{
    border-left: 2.5px solid white;
    height: 150px;
}

.sponsors ul{
    display: flex;
    justify-content: center;
}

.sponsors ul li{
    list-style-type: none;
}

.sponsors ul li img{
    height: fit-content;
}

.sponsors h3{
    text-align: center;
}

.quick-links{
    padding-left: 4%;
    padding-right: 4%;
}

.quick-links ul li{
    text-align: left;
}

.logo-footer{
    padding-left: 4%;
    padding-right: 4%;    
}

.logo-footer img{
    width: 13vw;
}

.bot{
    background-color: orangered;
}

.content{
    background-color: black;
    color: white;
    margin: 0px;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.content h1{
    text-align: center;
}