body{
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: bahnschrift;
    src: url(img/bahnschrift.ttf);
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.top{
    margin: 0px;
    border-bottom: solid 5px rgb(241, 113, 66);
}

header{
    padding-top: 5px;
    margin: 0px;
    box-sizing: border-box;
}

.barra-main{
    background-color: #fff83b;
    padding: 8px;
}

.barra-nav{
    display: flex;
    margin: 0px;
}



.barra-nav-elementos{
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: black;
    list-style-type: none;
    align-self: center;
    font-size: 25px;
    font-weight: 900;
    font-family: bahnschrift;
}

.barra-nav-elementos.bridge{
    padding-left: 45%;
}

.logo{
    width: 1pw;
}

li > a{
    text-decoration: none;
}

.bot{
    padding: 3%;
}

footer{
    border-top: 2.3px solid white;
    padding-top: 3%;
    display: flex;
}

.v-line{
    border-left: 2.5px solid white;
    height: 150px;
}

.sponsors ul{
    display: flex;
    justify-content: center;
}

.sponsors ul li{
    list-style-type: none;
}

.sponsors ul li img{
    height: fit-content;
}

.sponsors h3{
    text-align: center;
}

.quick-links{
    padding-left: 4%;
    padding-right: 6%;
    align-self: center;
}

.quick-links ul li{
    text-align: left;
    list-style-type: disc;
}

.logo-footer{
    padding-left: 4%;
    padding-right: 4%;
    align-self: center;    
}

.logo-footer img{
    width: 13vw;
}

.bot{
    background-color: rgb(0, 0, 0);
    color: white;
}

/*Contenido abajo*/

.content{
    background-color: black;
    color: white;
    margin: 0px;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    
}


.content h1{
    text-align: center;
}
/*Contenido arriba*/

.logo{
    width: 14vw;
    align-self: center;
}

.nav-button{
    width: 2vw;
}

.banner{
    width: 100%;
    text-align: center;
}

.banner-section{
    padding-top: 5%;
}

.banner-block-main{
    margin-top: 0px;
    background-color: #fff83b;
    color: black;
    text-align: center;
}

.banner-block-main h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

.banner-section ul{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 2.5%;
}

.banner-section ul li img{
    width: 100%;
}

.banner-section ul li{
    padding-left: 2%;
    list-style-type: none;
}

.titulo-articulo{
    font-size: 50px;
    text-align: left;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 11px 0;
    display: grid;
    border: none;
    background: #f1f1f1;
  }

.generic-button{
    background-color: #aaa;
    color: black;
}

.registro-boton{
    background-color: orangered;
    color: white;
    font-size: 17px;
    padding: 15px;
}

.block-registro{
    text-align: center;
    border: 1px solid white;
}

.block-inicio{
    text-align: center;
    border: 1px solid white;
}

.concepto-img1{
    width: 400px;
    height: 300px;
    margin-left: 60px;
    margin-right: 70px;
    border-radius: 8px;

}

.concepto-img1:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 0.7s;
}

.concepto-img2{
    width: 400px;
    height: 300px;
    margin-left: 70px;
    margin-right: 60px;
    border-radius: 8px;
}

.concepto-img2:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: 0.7s;
}

.concepto-p{
    text-align: justify;
    font-size: 18px;
    font-variant: small-caps;
    letter-spacing: 2px;
    word-spacing: 4px
}

.conceptos-img3{
    width: 320px;
    height: 270px;
    margin-left: 40px;
    border-radius: 8px;
    float: right;
}

.concepto-li{
    text-align: justify;
    font-size: 16px;
    font-variant: small-caps;
    letter-spacing: 1px;
    word-spacing: 2px
}

.concepto{
    display: flex;
    border-bottom: solid 1px;
    padding: 10px;

}

.imagen1 img{
height: 400px;
padding: 5px;
margin-left: 60px;

}


.titulo1 {
    background-color: #fff83b;;
    margin: 0px;
    padding: 10px;
}

.titulo-info1{
    border-bottom: solid;
}

.concepto2{
    list-style: none;
    margin: 20px;
}


.trucos img{
    margin: auto;
    display: block;
}

.trucos li{
    list-style: none;
    margin: 20px;
    background-color: #fff83b;
    color: black;
    margin: 0px;
    font-size: larger;
    }
.titulo2{
    text-align: center;
}
.trucos2 li{
    list-style: none;
    margin: 20px;
    background-color: #fff83b;
    color: black;
    margin: 0px;
    font-size: larger;
    padding-bottom: 10px;
}

.trucos2 img{
    margin: auto;
    display: block;
}
.ollie{
    height: fit-content;
    text-align: left;
    padding: 5px;

}

.division-concept{
    display: flex;
    padding: 10px;
}

.Nollie{
    height: fit-content;
    text-align: left;
    padding: 5px;
}

.shove-it{

    height: fit-content;
    text-align: left;
    padding: 5px;
}

.bigspin{
    text-align: left;
}

.bigspin img{
    width: 60%;
}

.fifty{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.fifty img{
    width: 85%;
}   

.concepto2{
    padding: 2px;
}



.nav-contenido ul li{
    list-style-type: none;
}

.acerca-de-imagen{
    border: solid 2px;
    border-radius: 8px;
    border-color: orangered;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*Contenido Perfil*/
.contenido-perfil{
    display: flex;
}
.foto-perfil,.descripcion-perfil{
    margin: auto;
}

.descripcion-perfil{
    width: 100%;
    padding-left: 3%;
}

/* .descripcion-perfil form, div{
    width: 100%;
    padding-left: 5%;
} */

.descripcion-perfil input{
    padding: 2%;
    width: 50%;
    font-size: 15px;
}

.descripcion-perfil label{
    margin-top: 1%;
    margin-bottom: 1%;
}


.form-descripcion{
    display: flex;
}
.form-descripcion-secciones{
    margin: auto;
}

.buscar{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #069;
    padding: 10px;
    height: 10px;
    height: 80px;
    border-radius: 20px;
}
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 30px;
    float: left;
    line-height: 70px;
    transition: .3s;
    width: 0;
}
.boton{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.contenido-busqueda{
    display: flex;
}
@media screen and (min-width:480px){
    .buscar:hover > .buscar_texto{
        width: 190px;
    }
}
@media screen and (min-width:1024px){
    .buscar:hover > .buscar_texto{
        width: 500px;
    }
}


/*Login*/

.contenedor{
    background-color: black;
    width: 100%;
    height: 80vh;
}

.content-tabs{
    padding-top: 4%;
}
.contenedor-inicio{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;    
}

.inicio-registro{
    background: rgb(233, 233, 233);

    padding: 3px;
}

.cont-login{
    margin-top: 150px;
}

.cont-registro{
    margin-top: 150px;
}


#Login2{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

#input-login{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}


.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    display: flex;
    justify-content: baseline;
}

.input-contenedor img{
    height: fit-content;
    padding-top: 3.3%;
    padding-left: 1%;
    padding-right: 1%;
}

.iconos{
    min-width: 50px;
    align-items: center;
}

.button-login{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: orangered;
    padding: 15px 20px;
    cursor: pointer;
}

.button-login :hover{
    background: yellow;
}

.p-login{
    text-align: center;
}

.link{
    text-decoration: none;
    color: orangered;
    font-weight: 600;
}

.link :hover{
    color: yellow;
}

@media(min-width:768px)
{
    
    .inicio-registro{
        margin: auto;
        width: 500px;
        border-radius: 2%;
    }
}

.articulo {
    color: #ffffff;
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.articulo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.articulo {
    overflow: hidden;
}

.articulo-principal {
    color: #ffffff;
    margin: auto;
    padding: 10px;
    width: 1200px;
    height: 600px;
    text-align: center;
}

.articulo-principal img {
    width: 800px;
    height: 400px;
}

.articulo-principal {
    overflow: hidden;
}

.articulo img:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;;
}

.p-img{
    display: flex;
    justify-content: space-around;
}

.p-img img{
    width: 15%;
}

.p-img p{
    align-self: center;
}

.contenido {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}  

.cover-img{
    margin-left: 15%;
}

[data-content] {
	display: none;
}
.active[data-content] {
	display: block;
}
.link {
    cursor: pointer;
}

/*Buscar*/

.pag{
    list-style: none;
    color: black;
}
.pag a, a:hover, a:visited, a:active {
    color: black;
    text-decoration: none;
}

.expand{
    width: 100%;
}

.footer-links{
    color: white;
}

.parrafo{
    text-align: justify;
}